<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectX</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjectX.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav style="background-color: #4A76A8" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">

                    <ul class="navbar-nav flex-grow-1 justify-content-between">

                        <li id="logo" class="nav-item">
                            <a class="navbar-brand text-light" asp-controller="Home" asp-action="Index">NerdsBook</a>
                        </li>

                        <li class="nav-item w-50">
                            <input class="form-control" type="search" placeholder="Search">
                        </li>

                        <li class="nav-item">
                            <span class="text-light pe-3">Rafael Henrique de Carvalho</span>
                            <a class="" asp-controller="Config" asp-action="Profile">
                                <img style="background-color: white; border-radius: 50%;" src="~/img/user.png" width="30" />
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="btn btn-danger text-light" asp-controller="Auth" asp-action="Index">Logout</a>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="my-3">
        @RenderSection("css", required: false)

        <div class="container">

            <!-- Modal Area -->
            @* <partial name="_Modal" /> *@

            @*<div class="container">
            <!-- Alerts -->
            <div id="alert"></div>

            <!-- Error Partial -->
            <partial name="_CustomError" />
            </div>*@

            @RenderBody()

        </div>
    </main>

    <footer class="border-top footer text-muted">
        @* <div class="container">
        &copy; 2023 - ProjectX - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>*@
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
