@{
    ViewData["Title"] = "Config";
}
<section>

    <div class="row px-3">

        <div class="col col-md-4 colunas">
            Conteúdo
        </div>

        <div class="col col-md-4 colunas ">
            Conteúdo
        </div>

        <div class="col col-md-4 colunas">
            Conteúdo
        </div>

    </div>

    <div class="row px-3">

        <div class="col col-md-4 p-3 colunas">
        </div>

        <div class="col col-md-4 p-3 colunas ">
        </div>

        <div class="col col-md-4 p-3 colunas">
        </div>

    </div>

    <div class="row px-3">

        <div class="col col-md-4 p-3 colunas">
        </div>

        <div class="col col-md-4 p-3 colunas ">
        </div>

        <div class="col col-md-4 p-3 colunas">
        </div>

    </div>

</section>





