@{
    ViewData["Title"] = "Profile";
}

<div class="container p-3">

    <header class="text-center">

        <div class="row">

            <div class="col col-md-3 text-start">
                Tela de Perfil
            </div>

            <div class="col col-md-3">
                Cabeçalho
            </div>

            <div class="col col-md-3">
                Cabeçalho
            </div>

            <div class="col col-md-3 text-end">
                <img src="~/img/user.png" width="30" />
            </div>

        </div>

    </header>

    <section>

        <div class="row px-3">

            <div class="col col-md-4 colunas">
                Conteúdo
            </div>

            <div class="col col-md-4 colunas ">
                Conteúdo
            </div>

            <div class="col col-md-4 colunas">
                Conteúdo
            </div>

        </div>

        <div class="row px-3">

            <div class="col col-md-4 p-3 colunas">
            </div>

            <div class="col col-md-4 p-3 colunas ">
            </div>

            <div class="col col-md-4 p-3 colunas">
            </div>

        </div>

        <div class="row px-3">

            <div class="col col-md-4 p-3 colunas">
            </div>

            <div class="col col-md-4 p-3 colunas ">
            </div>

            <div class="col col-md-4 p-3 colunas">
            </div>

        </div>

    </section>

    <footer class="text-center">

        <div class="">
            Rodápé
        </div>

    </footer>
</div>